<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
		<% if current_user.activate? %>
			<p>Status: Active</p>
		<% else %>
			<p>Status: Inactive</p> 
		<% end %>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
			<% current_user.bookmarked_segments.each.with_index do |bookmark, i| %>
	 			<article id="bookmark-<%= i+1 %>">
		 			<p><%= bookmark.title %></p>
	 			</article>
 			<% end %>
  </section>

  <% if !current_user.token.nil? %>
    <h2>Github</h2>
    <% current_user.repos.each do |repo| %>
      <section class="repo">
        <%= link_to "#{repo[:name]}", repo[:html_url] %>
		<% end %>
      </section>

		<h4>Followers</h4>
		<% current_user.followers.each do |follower| %>
        <section id="follower-<%=follower[:login]%>">
    			<%= link_to "#{follower[:login]}", follower[:html_url] %>
          <% if current_user.in_system(follower[:login]) && !current_user.friends.include?(follower[:login])%>
            <% friend = User.find_by(github_username: follower[:login]) %>
            <%= form_tag "/friendships" do %>
            <% text_field_tag :friend_id, "#{friend.id}", :hidden => true %>
            <% text_field_tag :user_id, "#{current_user.id}", :hidden => true %>
            <%= submit_tag "Add as Friend" %>
            <% end %>
          <% end %>
    		</section>

    <% end %>

		<h4>Following</h4>
  	<% current_user.following.each do |followed| %>
  		<section id="following-<%=followed[:login]%>">
  			<%= link_to "#{followed[:login]}", followed[:html_url] %>
        <% if current_user.in_system(followed[:login]) && !current_user.friends.include?(followed[:login])%>
          <% friend = User.find_by(github_username: followed[:login]) %>
          <%= form_tag "/friendships" do %>
          <% text_field_tag :friend_id, "#{friend.id}", :hidden => true %>
          <%= submit_tag "Add as Friend" %>
          <% end %>
        <% end %>
  		</section>
		<% end %>

    <h4>Friends</h4>
    <% current_user.friends.each do |friend|%>
    <% account = User.find(github_username: friend) %>
    <%= "#{account.first_name}" %>
    <% end %>

	<% else %>
		<h2><%= button_to "Connect to Github", github_login_path, method: :GET %></h2>
  <% end %>
</section>
